body{
    background: #233343 !important;
    justify-content: center;
    align-items: center;
    /* 开启3D */
    transform-style: preserve-3d;
    /* 设置视距 */
    perspective: 1200px;
    color: #A0A1A2;
}
a,.site-title {
    color: #c8c8c9 !important;
}
.post .post-content {
    min-height: 85vh;
    text-align: center;
}
.yytree{
    width: 200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    /* 执行动画 */
    animation: spins 2s linear infinite;
}
/* 彩色小点 */
.treeLight{
    transform-style: preserve-3d;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 50%;
    bottom: calc(var(--y) * 1%);
    transform: translate(-50%,50%) rotateY(calc(var(--rotate, 0) * 1deg)) translate3d(0,0,calc(var(--radius, 0) * 8px));
    /* 执行动画 */
    animation: flash calc(var(--speed) * 1s) calc(var(--delay) * 1s) infinite,
               appear 0.5s calc(var(--appear) * 0.05s);
}
/* 星星 */
.treeStar{
    stroke: #f5e0a3;
    /* 设置虚线：虚线长度 间距 */
    stroke-dasharray: 1000 1000;
    width: 32px;
    height: 32px;
    /* 星星发光效果 */
    filter: drop-shadow(0 0 10px #fcf1cf);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%,0);
    /* 执行动画 */
    animation: strokes 1s calc((var(--delay) * 0.95) * 0.05s) backwards;
}

/* 彩色小点出现 */
@keyframes appear {
    from{
        opacity: 0;
    }
}
/* 彩色小点变色 */
@keyframes flash {
    0%,100%{
        background-color: #4f60f6;
    }
    20%{
        background-color: #f64f4f;
    }
    40%{
        background-color: #4fecf6;
    }
    60%{
        background-color: #f6db4f;
    }
    80%{
        background-color: #f64fe5;
    }
}
/* 圣诞树旋转 */
@keyframes spins {
    to{
        transform: rotateY(360deg);
    }
}
/* 星星出现 */
@keyframes strokes {
    from{
        stroke-dashoffset: -1000;
    }
}
.gungun {
    height: 300px;
    width: 4px;
    position: absolute;
    background-color: rgb(255 255 255 / 75%);
    display: inline-block;
    border-radius: 4px;
    margin-top: 6px;
}
.center-text {
    width: 100%;
    text-align: start;
    padding-top: 20px;
    text-indent: 2em;
}

/* 旋转方块 */
.container{
    width: 100%;
    color: #fff;
    font-weight: 300;
    /* 大写 */
    text-transform: uppercase;
    /* 设置视距 */
    perspective: 1300px;
}
input{
    display: none;
}
.labels{
    display: flex;
    margin: 5px auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.tab{
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
}
.tab:nth-child(1){
    width: 30%;
    background-color: #00b4db;
}
.tab:nth-child(2){
    width: 45%;
    background-color: #009bc5;
}
.tab:nth-child(3){
    width: 60%;
    background-color: #007ba4;
}
.tab:nth-child(4){
    width: 70%;
    background-color: #025774;
}
.tab:nth-child(5){
    width: 80%;
    background-color: #013c50;
}
.tab:nth-child(6){
    width: 90%;
    background-color: #02242e;
}
.cube{
    display: flex;
    margin: 40px auto;
    height: 250px;
    width: 250px;
    /* 开启3D */
    transform-style: preserve-3d;
    /* 设置过渡效果 */
    transition: transform 0.5s ease-in;
}
.tab-content{
    width: 230px;
    height: 230px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
}
.tab-content h1{
    font-size: 1.7em !important;
    font-weight: 300;
    text-indent: 0;
}
.tab-content p{
    font-size: 0.9em;
    font-weight: 100;
}
.tab-content:nth-child(1){
    background-color: #00b4db;
    transform: rotateX(-270deg) translateY(-115px);
    transform-origin: top center;
}
.tab-content:nth-child(2){
    background-color: #009bc5;
    transform: translateZ(115px);
}
.tab-content:nth-child(3){
    background-color: #007ba4;
    transform: rotateX(-90deg) translateY(115px);
    transform-origin: bottom center;
}
.tab-content:nth-child(4){
    background-color: #007ba4;
    transform: rotateX(180deg) translateY(230px) translateZ(115px);
    transform-origin: bottom center;
}
.tab-content:nth-child(5){
    background-color: #007ba4;
    transform: rotateY(270deg) translateX(-115px);
    transform-origin: left;
}
.tab-content:nth-child(6){
    background-color: #007ba4;
    transform: rotateY(90deg) translateX(115px);
    transform-origin: right;
}
#tab_one:checked ~ .cube{
    transform: rotateX(-90deg);
}
#tab_two:checked ~ .cube{
    transform: rotateX(0deg);
}
#tab_three:checked ~ .cube{
    transform: rotateX(90deg);
}
#tab_for:checked ~ .cube{
    transform: rotateX(180deg);
}
#tab_fiv:checked ~ .cube{
    transform: rotateY(90deg);
    transform-origin: center;
}
#tab_six:checked ~ .cube{
    transform: rotateY(-90deg);
    transform-origin: center;
}

/* 评论样式调整 */
.vcards p {
    color: rgb(255 255 255 / 85%) !important;
}
.vcards .vcard .vh .vmeta .vat {
    color: #00B4DB !important;
}