body {
    background: #e4f1e4 !important;
}

.post .post-content h1,
h2 {
    font-weight: 600 !important;
}

p {
    font-size: 1.1em;
    text-indent: 2em;
    font-family: 'Harmony_Regular', 'Microsoft JhengHei';
}

.over-flash {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
}

#plane {
    color: #fff;
    font-size: 30px;
    /* 绝对定位 */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    min-height: 600px;
}

.content-text p {
    font-size: 16px;
}

.content-text .video-class {
    text-align: center;
    width: 100%;
}

.content-text video {
    max-width: 70%;
}

.content-text .car-photo img {
    width: 33%;
    display: inline-block;
}

.slider-div {
    height: 100%;
    margin: 0 auto;
    width: 50%;
    font-size: 1.1em;
    font-family: 'Harmony_Regular', 'Microsoft JhengHei';
}

.image-slider {
    flex-flow: column;
    width: 100%;
    aspect-ratio: 16 / 9;
    min-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    container-type: inline-size;
    contain: content;
    background-color: #0006;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 2px 4px,
        rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 16px,
        rgba(0, 0, 0, 0.15) 0px 16px 32px;
}

.slider__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-control--button {
    border: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
    place-content: center;
    padding-inline: 1vw;
    z-index: 1;
    display: grid;
}

.icon {
    height: 2rem;
    width: 2rem;
    fill: var(--icon-default);
    border-radius: 50%;
}

.slider-control--button:where(:hover) {
    background-image: linear-gradient(to var(--position),
            #0000 0%,
            #0002,
            80%,
            #0006 100%);

    .icon {
        fill: var(--icon-accent);
        background: #0001;
    }
}

/* .slider-control--button:active {
        outline: 0.2em solid hsl(204 100 53);
        outline-offset: -0.5em;
    } */

.prev-button {
    --position: left;
}

.next-button {
    --position: right;
}

.image-display {
    position: fixed;
    inset: 0;
}

.slider-navigation {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 100%;
    gap: 1.25rem;
    padding: 1rem;
    place-content: center;
    background-color: var(--navigation-color);
    backdrop-filter: blur(6px);
}

.nav-button {
    padding: 0;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 0;
    aspect-ratio: 16 / 9;
    transition: filter 150ms linear, scale 266ms ease;
}

.thumbnail {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.nav-button[aria-selected="true"] {
    scale: 1.1;
}

.nav-button[aria-selected="true"],
.nav-button:focus-visible {
    outline: 0.2em solid var(--active-color);
    outline-offset: 0.2em;
}

.nav-button[aria-selected="false"] {
    filter: opacity(0.7);
}

.nav-button[aria-selected="false"]:where(:hover, :focus-visible) {
    filter: opacity(1);
}

@container (max-width: 660px) {
    .nav-button:not(:has(img)) {
        background-color: rgb(241, 235, 232);
    }

    .slider-navigation {
        display: flex;
        justify-content: center;
        padding-block: 1.5em;
    }

    .nav-button {
        inline-size: 0.625rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .nav-button>.thumbnail {
        display: none;
    }

    .nav-button[aria-selected="true"] {
        background-color: black;
        scale: 1.5;
    }
}

.title1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    height: 32px;
}

:root {
    --imgRotate: 0deg;
}

activities-widget {
    container: activities-widget / inline-size;

    inline-size: min(100%, 425px);
    margin-inline: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1lh auto auto;
    gap: 0.5rem 2rem;

    >* {
        grid-area: 1 / 1 / 1 / 1;
    }

    >.activity {
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;

        grid-column: 1 / -1;
        grid-row: 1 / -1;

        .img {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            width: 100%;
            aspect-ratio: 1;

            overflow: clip;
            border-radius: 8px;
            border: 3px solid light-dark(white, #333);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            rotate: var(--imgRotate, 0deg);
            transition: 0.2s;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        &:nth-child(1) {
            .img {
                --imgRotate: 4deg;
            }
        }

        &:nth-child(2) {
            .img {
                --imgRotate: -2deg;
            }
        }

        &:nth-child(3) {
            .img {
                --imgRotate: -9deg;
            }
        }

        &:nth-child(4) {
            .img {
                --imgRotate: 7deg;
            }
        }

        .text {
            grid-column: 2 / 3;
            grid-row: 2 / 3;

            color: light-dark(rgba(30, 30, 30, 0.6), rgba(240, 240, 240, 0.6));
            opacity: 0;

            translate: 0 20px;
            transition: 0.5s cubic-bezier(0.85, 0, 0.15, 1);

            pointer-events: none;

            h3 {
                color: light-dark(black, white);
                margin: 0;
            }
        }

        &.active {
            .text {
                opacity: 1;
                translate: 0 0;
                pointer-events: all;
            }

            .img {
                animation: 0.66s moveOutIn cubic-bezier(0.34, 1.56, 0.64, 1);
                animation-fill-mode: forwards;
            }
        }

        @container activities-widget (width < 300px) {
            display: block;
            padding: 1rem;

            .activity {
                display: block;
                margin-block-end: 3rem;

                .img {
                    max-inline-size: 125px;
                    margin-inline: auto;
                    margin-block-end: 0.5rem;
                }

                .text {
                    opacity: 1;
                    translate: 0 0;
                    pointer-events: all;
                    background: none;
                }
            }
        }
    }

    &.children-animating {
        .img {
            animation: 0.75s straightenImages;
        }
    }

    .activities-navigation {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        user-select: none;
        place-self: end;
        z-index: 99;

        >button {
            border: 1px solid light-dark(black, white);
            background: 0;
            border-radius: 50px;
            aspect-ratio: 1;

            &:hover {
                background: CanvasText;
                color: Canvas;
            }
        }

        @container activities-widget (width < 300px) {
            display: none;
        }
    }

    .activities-count {
        grid-column: 2 / -1;
        place-self: start;
        z-index: 99;
        color: light-dark(rgba(30, 30, 30, 0.6), rgba(240, 240, 240, 0.6));

        @container activities-widget (width < 300px) {
            display: none;
        }
    }
}

@keyframes straightenImages {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes moveOutIn {

    /* image */
    50% {
        translate: -100% 0;
        scale: 1.15;
    }

    100% {
        translate: 0 0;
        z-index: 1;
    }
}