.container{
    width: 100%;
    height: 160px;
    /* 相对定位 */
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;
    /* margin-bottom: 20px; */
}
.container div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 绝对定位 */
    position: absolute;
    left: 0;
    top: 0;
}
.container div img{
    width: 110%;
    height: 100%;
    /* 对图片进行剪切，保留原始比例 */
    object-fit: cover;
    /* --offset（水平偏移量）、--blur（模糊度 数值越大越模糊）是CSS的自定义属性，可通过var函数进行调用 */
    --offset: 0px;
    --blur: 2px;
    /* 设置水平偏移量 */
    transform: translateX(var(--offset));
    /* 设置模糊度 */
    filter: blur(var(--blur));
}
/* 首页隐藏底部图片 */
/* #colophon {
    margin: 30px auto 0;
    overflow: hidden;
    position: inherit;
} */
#colophon:before {
    display: none !important;
}