body{
    /* 初始化 取消内外边距 */
    margin: 0;
    padding: 0;
    color: #141414;
    background: #b8bce4 !important;
    transition: all 3s ease-in-out;
    min-height: 60vh;
    font-family: 'Microsoft JhengHei';
}

#cont{
    /* 100%窗口高度 */
    height: 100vh;
}
.bodylight{
    background-color: #fff5ca !important;
}
.bodydark{
    background-color: #b8bce4 !important;
}
.bg{
    /* 绝对定位 */
    position: absolute;
    width: 50%;
    height: 100%;
}
.sun{
    margin: 0;
    padding: 0;
    /* 绝对定位 水平垂直居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    background-color: orange;
    border-radius: 50%;
}
.moon{
    margin: 0;
    padding: 0;
    /* 绝对定位 水平垂直居中 */
    position: absolute;
    top: 30%;
    left: 50%;
    /* 计算得出月亮的位置 */
    transform: translate(calc(-50% + -160px),calc(-50% + -180px));
    width: 600px;
    height: 600px;
    /* 通过阴影绘制月亮 */
    box-shadow: 160px 180px 0 rgb(155, 241, 241);
    border-radius: 50%;
}
.sea{
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 35%;
    /* 背景模糊制造大海的感觉 */
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 100;
}
.sun,
.moon,
.sun-box,
.moon-box,
.bg{
    /* 添加动画过渡 */
    transition: all 3s ease-in-out;
}
.sun-box,
.moon-box{
    /* 相对定位 */
    position: relative;
    /* 溢出隐藏 */
    overflow: hidden;
}
/* 白天 */
.light .sun-box{
    height: 100%;
}
.light .moon-box{
    height: 0;
}
/* 夜晚 */
.dark .sun-box{
    height: 0;
}
.dark .moon-box{
    height: 100%;
}
/* 切换按钮样式 */
.btn-box{
    position: absolute;
    z-index: 101;
    width: 50%;
    font-size: 20px;
    text-indent: 2em;
}
.btn-box .link_text{
    border: thick double rgba(255,255,255,0.1);
}
.btn-box div{
    color: #000;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}