.post .post-content {
    min-height: 800px;
}
#primary {
    max-width: none;
    min-height: 86vh;
    margin: 0 auto;
}
.waterfall{
    position: relative;
}
.waterfall li{
    list-style: none;
    position: absolute;
    /* width: 300px; */
    /* height: 100px; */
    background: rgb(236, 146, 10);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    overflow: hidden;
}
.waterfall li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* 过渡效果 */
    transition: 0.25s ease-in;
}
.waterfall li p{
    margin: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    left: 0;
    /* 默认移出可视范围 */
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.waterfall li p span{
    width: 80%;
    font-size: 0.95em;
    color: #aaa;
    line-height: 24px;
}
.waterfall li:hover img{
    /* 悬停图片变大 */
    transform: scale(1.1);
}